---
---

@import "minimal-light";

.image.avatar {
  width: 200px !important;
  height: 200px !important;
}

.image.avatar img {
  width: 200px !important;
  height: 200px !important;
  max-width: none !important;
  object-fit: cover !important;
}
