---
---

@import "{{ site.theme }}";

.image.avatar {
  width: 200px !important;
  height: 200px !important;
}

.image.avatar img {
  width: 200px !important;
  height: 200px !important;
  max-width: none !important;
  object-fit: cover !important;
  border-radius: 0 !important;
}

.author__avatar,
.author__avatar img {
  border-radius: 0 !important;
}
