---
---

@import "{{ site.theme }}";

 .image.avatar {
   width: 200px !important;
   height: 200px !important;
 }

 .image.avatar img {
   width: 200px !important;
   height: 200px !important;
   max-width: none !important;
   object-fit: cover !important;
   // float: left !important;
   // margin-right: 15px !important; // Adds space between the image and nearby text
   // border-radius: 0 !important;
 }

 .image.avatar {
   position: relative;
   left: -20px;
 }

// .author__avatar,
// .author__avatar img {
//   border-radius: 0 !important;
// }
